:root {
  --main-purple:#7002b9;
  --main-yellow:#F7D700;
  --shadow:#5e085f;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-container {
  width: 80vw;
  background-color: var(--main-yellow);
  font-size: 1.5vw;
  text-align: justify;
  border-radius: 1vw;
  box-shadow: 0.5vw 1vw var(--shadow);
  margin-bottom: 0.5em;
  padding: 1em;
  overflow: hidden;
  z-index:2;
}

.about-image {
  float: left;
  margin-right: 1em;
  width: 30%;
  height: auto;
  border-radius:0.25vw;
}

.about-content {
  flex: 1;
  margin-right:3%;
}