
:root {
  --main-purple:#7002b9;
  --main-yellow:#F7D700;
  --shadow:#5e085f;
}

body {
  background-color: var(--main-purple);
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  z-index:2;
  font-size: 2em;
  padding-bottom:2.5vw;
  padding-top:2.5vw;
}

.container {
  z-index:2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.square {
  z-index:2;
  width: 20vw;
  aspect-ratio: 1;
  background-color: var(--main-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  border-radius: 1vw;
  box-shadow: 0.5vw 1vw var(--shadow);
  cursor:pointer;
}

.rectangle {
  z-index:2;
  width: 80vw;
  height: 20vh;
  background-color: var(--main-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  border-radius: 1vw;
  box-shadow: 0.5vw 1vw var(--shadow);
  cursor:pointer;
  margin-bottom:0.5em;
}

.rectangle-expanded {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height: fit-content;
  overflow: hidden;
  z-index:2;
  width: 80vw;
  background-color: var(--main-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  border-radius: 1vw;
  box-shadow: 0.5vw 1vw var(--shadow);
  cursor:pointer;
  margin-bottom:0.5em;
}

.content {
  flex: 0 0 56.5%; /* Take up 75% of the space */
  padding-left: 0.5%; /* Space between text and image */
  padding-right: 3%;
  text-align: justify;
}

.image {
  flex: 0 0 38.5%; /* Take up 25% of the space */
  padding-left: 1%;
  padding-right: 0.5%;
  object-fit: contain;
  max-width: 37%;
}

#clown {
  max-height: 8em;
}

.linkAndGit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.gitLogo {
  max-height:2em;
}

.centered-text {
  text-align: center;
}

@keyframes trippyFrames {
  0% {
    transform: translate(1px, -1px) scale(1.1) rotate(2.5deg);
    filter: drop-shadow(0px 0px 10px #00ffffcc);
  }

  50% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    filter: drop-shadow(0px 0px 5px var(--main-purple));
  }
  100% {
    transform: translate(-1px, 1px) scale(0.9) rotate(-2.5deg);
    filter: drop-shadow(0px 0px 10px var(--main-yellow));
  }
}

.trippy {
  z-index:1;
  position: absolute;
  /*animation: trippyFrames 10s infinite alternate ease-in-out;*/
}


/* Font Info */
.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}
